.layout {
  & .ant-layout {
    height: 100vh;
    // 头部
    & .ant-layout-header {
      position: fixed;
      padding: 0 20px 0 220px;
      width: 100%;
      z-index: 1;
      // left: 200px;
      &.close {
        // margin-left: 80px;
        padding-left: 100px;
      }
      & span {
        font-size: 20px;
        cursor: pointer;
        color: #fff;
      }
      & .right {
        float: right;
        & .ant-avatar {
          margin-left: 30px;
        }
      }
    }
    // 侧边栏
    & .ant-layout-sider {
      &::-webkit-scrollbar {
        display: none;
      }
      & .logo {
        position: fixed;
        left: 0;
        z-index: 99;
        height: 60px;
        padding: 15px 14px 15px 24px;
        background-color: rgb(0, 21, 41);

        & span {
          font-size: 30px;
          color: #fff;
        }
        & .title {
          font-size: 18px;
        }
      }
      & .aside-menu {
        margin-top: 60px;
      }
    }
    // 内容区域
    & .ant-layout-content {
      margin-left: 200px;
      padding: 84px 20px 20px 25px;
      &.close {
        margin-left: 80px;
      }
    }
  }
}
