// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$v-error-base: #ff4081;
* {
  margin: 0;
  padding: 0;
}
@media (min-width: 600px) {
  .profile-page .user-card .avatar-wrapper {
    width: 135px;
    height: 135px;
    & .user-avatar {
      height: 94px;
      width: 94px;
    }
  }
}
@media (min-width: 960px) {
  .profile-page .user-card .avatar-wrapper {
    width: 125px;
    height: 125px;
    & .user-avatar {
      height: 104px;
      width: 104px;
    }
  }
}
@media (min-width: 1264px) {
  .profile-page .user-card .avatar-wrapper {
    width: 155px;
    height: 155px;
    & .user-avatar {
      height: 134px;
      width: 134px;
    }
  }
}
.v-main__wrap {
  margin-left: 30px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(241, 238, 238, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(241, 238, 238, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
